*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.card{
    width: 90%;
    max-width: 470px;
     background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center; 
}
.search{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 24px;
}
.search button{
    border: 0;
    outline:0;
    border-radius: 30%;
    background: #ebfffc;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button img{
    width: 23px;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 70px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top:50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
    flex-direction: column;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 28px;
    margin-top: 10px;
}
.weather{
    display: none;
}
.error{
    text-align: left;
    margin: 10px;
    font-size:large;
    display:none;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
                 Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue",
                 Arial, sans-serif;
}


/* ---------- Responsive styles for small screens ---------- */
@media (max-width: 600px) { 
    /* maxwidth: 600px applies to 600px and below. */

    .card {
        padding: 25px 20px;
        margin-top: 50px;        
    }

    .search input {
        width: 100px;
        height: 45px;
        font-size: 16px;
        padding: 8px 15px;
        margin-right: 10px;
        
    }

    .search button {
        width: 35px;
        height: 40px;
    }

    .search button img {
        width: 18px;
    }
}


/* https://api.openweathermap.org/data/2.5/weather?q=kadapa&appid=39e8b5ecce011fc99ce4956ad5360189&units=metric */
